extend ../layouts/common

block container
  .form-login
    form(method='POST')
      h2.form__heading Đặt Lại Mật Khẩu
      if errs
        each err in errs
          .alert-danger= err
      .form__row
        input.form__input(
          type='text' required='' name='phone' 
          placeholder='Số điện thoại', value= values ? values.phone : ''
        )
      .form__row
        input.btn.btn-submit(type='submit' value='Gửi mã')
